*{
    margin: 0px;
    padding: 0px;
    
}
body{
    background-image: url(https://startbootstrap.github.io/startbootstrap-business-casual/assets/img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.footer_top h3{
    color: goldenrod;
}
.footer_top{
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 100px
}
.footer_top h1{
    color: white;
}

.footer_bottom{
    background-color: rgba(55, 37, 14, 0.973);
    height: 20px;
    text-align: center;
    align-items: center;
    padding: 40px;
    justify-content: center;
}
.footer_bottom a{
    padding: 40px;
    text-decoration: none;
    color: white;
}
.footer_bottom a :hover{
    color: rgb(109, 106, 106);
}
.image1 img{
    position: relative;
    border-radius: 10px;
    padding-left: 350px;
    padding-top: 200px;
    padding-bottom: 60px;
}
.word1{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 80px;
    top: 70%;
    right: 2%;
    height: 120px;
    border-radius: 5px;
    font-size: larger;
}
.word2{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    top: 160%;
    left: 2%;
    height: 150px;
    border-radius: 5px;
    font-size: larger;
}
.image2 img{
    position: relative;
    border-radius: 10px;
    padding-left: 350px;
    padding-top: 200px;
    padding-bottom: 60px;
}
.word3{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 80px;
    top: 200%;
    left: 2%;
    height: 120px;
    border-radius: 5px;
    font-size: larger;
}
.word4{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    top: 280%;
    right: 2%;
    height: 150px;
    border-radius: 5px;
    font-size: larger;
}
.image3 img{
    position: relative;
    border-radius: 10px;
    padding-left: 350px;
    padding-top: 200px;
    padding-bottom: 60px;
}
.word5{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 80px;
    top: 320%;
    right: 2%;
    height: 120px;
    border-radius: 5px;
    font-size: larger;
}
.word6{
    background-color: antiquewhite;
    position: absolute;
    width: 500px;
    text-align: center;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    top: 390%;
    left: 2%;
    height: 150px;
    border-radius: 5px;
    font-size: larger;
}
.header p{
    background-color: rgba(55, 37, 14, 0.973);
    height: 60px;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    margin-top: 90px;
}